<div class="container" style="margin-top: 130px;margin-bottom: 60px;" ng-controller="about as vm">
    <div class="row">
        <div class="page-header">
            <h1>Project currently in progress...</h1>
            <h4>GIt Source: <a href="https://github.com/alam-syed/bookshoppe">https://github.com/alam-syed/bookshoppe</a></h4>
        </div>
        <div class="container">
            <h2 class="banner-technologies-title">Built with leading technologies</h2>
            <ul class="banner-technologies-inner-technologies">
                <li>
                    <img src="img/logos/mongodb.png" alt="MongoDB" height="70">
                    <p>MongoDB is the leading NoSQL database, empowering businesses to be more agile and scalable.</p>
                </li>
                <li>
                    <img src="img/logos/express.png" alt="Express" height="50">
                    <p>Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.</p>
                </li>
                <li>
                    <img src="img/logos/angularjs.png" alt="AngularJS" height="70">
                    <p>AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
                </li>
                <li>
                    <img src="img/logos/nodejs.png" alt="Node.js" height="70">
                    <p>Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications.</p>
                </li>
            </ul>
        </div>
    </div>
</div>