
<div class="row" style="margin-top: 150px;" ng-controller="home as vm">
    <center>
        <div><img src="img/logo.png"></div>
        <div style="letter-spacing: 6px;margin-bottom: 40px;"></div>
        <div class="clearfix"> </div>
        <div class="input-group input-group-sm col-md-6" style="padding: 0 20px 0 20px;">
            <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button id="ButtonSearch" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-search"></span></button></span>
        </div>
    </center>
</div>